h1{
    display: inline-grid;
    color: #ff2800;
}

.circuit-table{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 1rem;
    padding: 1rem;
    color : inherit;
}