/* Ensure the header has a lower z-index */
.header {
    z-index: 1;
    position: relative;
}

/* Style the search bar container */
.searchbar-container {
    margin-top: 50px; /* Adjust the margin as needed */
    padding: 10px;
    z-index: 2; /* Ensure the search bar is above the header */
    position: relative;
}

/* Style the search bar input */
.searchbar-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

/* Style the search results */
.searchbar-results {
    list-style-type: none;
    padding: 100px;
    margin: 50px;
}

.searchbar-results li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.error {
    background-color: #ff2800;
    padding: 10px;
    color: white;
}

.error h3 {
    color: white;
}